body {
  margin: 0;
}

#root {
  font-family: "AppBar";
  background-color: rgba(144, 217, 240, 0.33);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.filter_name {
  color: rgb(31, 11, 117);
  font-size: 20px;
}

@font-face {
  font-family: "AppBar";
  src: url(./assets/fonts/Gentium_Book_Plus/GentiumBookPlus-Bold.ttf);
  font-weight: bold;
}
